body {
    background-color: #c9fa19;
    color: #f8239c;
    text-align: center;
}

#banner {
    width: 100%;
    height: 50px;

}

.beneficios {
    text-align: left;
    color:black;
    font-size: 30px;
}